@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.25;
    font-style: normal;
    font-weight: 700;
    color: #2B2C34;
}
h2{
    font-size: 24px;
}
/*--------------header-----------*/
header{
    height: 86px;
    width: 100%;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top:0;
}
.header__w-1250{
    height: 100%;
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__w-1250 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.logo{
    width: 194px;
    height: 45px;
    padding-top: 26px;
    padding-bottom: 15px;
}
.logo h2{
    color: #001858;
    font-size: 36px;
    font-weight: 600;
}
.logo span{
    color: #6246EA;
    font-size: 18px;
}
nav a{
    font-size: 20px;
    padding: 32px 0 30px 0;
}
.nav-search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0 30px 0;
    font-size: 20px;
    background: transparent;
    border: none;
}
.nav-search input {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    width: 96px;
}
.nav-search input::placeholder {
    color: #2B2C34;
}
.buy-me-coffee{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
    height: 44px;
    padding: 10px 17px;
    border-radius: 4px;
    background: #6246EA;
    box-sizing: border-box;
    color: #FFFFFE;
    font-size: 18px;
}
/*----------intro section---------*/
main{
    width:100%
}
.intro{
    width: 100%;
    height: 814px;
    padding: 250px 0 263px 0;
    box-sizing: border-box;
    background: #EFF0F3;
}
.intro__w-1250{
    width:1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__w-1250 div:nth-child(1){
    height: 345px;
    width: 664px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.intro__w-1250 h1{
    height: 162px;
    width: 617px;
    font-size: 64px;
    text-transform: capitalize;
    line-height: 1.27;
}
.intro__w-1250 p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    border-left: 3px solid #2B2C34;
    height: 56px;
    padding-left: 12px;
}
.button-form{
    height: 67px;
    width: 609px;
}
.button-form form{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 444px;
    height: 67px;
    border-radius: 8px;
    border: none;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: black;
    background: #FFFFFE;
}
input[type="email"]::placeholder{
    color: #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip-path: inset(50%);
}
button[type="submit"]{
    width: 145px;
    height: 67px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: none;
}
button[type="submit"]:focus{
    background: #4e32e1;
}
.intro__w-1250 img{
    width: 470px;
}
/*------------ browse category------------*/
.category-search{
    height: 500px;
    width: 100%;
    background: #EFF0F3;
}
.category-search__w-1250{
    width: 1252px;
    margin: 0 auto;
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.subheadings{
    display: flex;
    width: 1252px;
    height: 35px;
    justify-content: space-between;
    flex-direction: row;
}
.subheadings a{
    font-size: 20px;
}
.subheadings svg{
    padding-left: 12px;
    padding-top: 9px;
}
.category-cards{
    display: flex;
    align-items: flex-start;
    gap: 37px;
    width: 1248px;
    height: 280px;
}
.card{
    display: flex;
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 30px;
}
.blue-background{
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    border-radius: 8px;
    background: #6246EA;
}
.blue-background h2{
    color: #FFFFFE;
}
/*-----------------articles------------*/
.article-section{
    height: 2504px;
    width: 100%;
    background: #FFFFFE;
    margin: 0 auto;
}
.articles__w-1250{
    padding-top: 80px;
    margin: 0 auto;
    width: 1252px;
    height: 2344px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.featured-article, .css-articles, .js-articles, .reactjs-articles{
    display: flex;
    width: 1252px;
    height: 490px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.article-container{
    height: 425px;
    width: 1248px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.article{
    display: flex;
    width: 300px;
    height: 425px;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background: #FFFFFE;
    padding: 20px;
    border-radius: 12px;
}
.gap-80{
    gap:80px;
}
.gap-55{
    gap: 55px;
}
.gap-30{
    gap: 30px;
}
.article-title{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.article-title img{
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
    background: lightgray 50% / cover no-repeat;
    object-fit: cover;
}
.grey-border{
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.article-title p{
    width: 260px;
    font-size: 20px;
    text-transform: capitalize;
}
.article-info{
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.article-info img{
    width: 57px;
    height: 57px;
}
.article-info div{
    width: 184px;
    height: 46.2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2px;
}
.article-info p:nth-child(1){
    width: 73px;
    height: 21px;
    font-size: 16px;
    font-weight: 600;
}
.article-info p:nth-child(2){
    width: 184px;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.button-more-article{
    width: 165px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    border: none;
}
/*----------------subscribe-section------------*/
.subscribe-section{
    width: 100%;
    height: 453px;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-section__w-696{
    width: 696px;
    height: 337px;
    gap: 30px;
    background: #EFF0F3;
    padding: 58px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
.subscribe-section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.subscribe-section-title p:nth-child(1){
    font-size: 36px;
    text-transform: capitalize;
}
.subscribe-section-title p:nth-child(2){
    width: 696px;
    color:#C0C0C0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
/*-------------footer---------*/
footer{
    width: 100%;
    height: 435px;
    background: #E4E5E9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footer__w-1250{
    width: 1250px;
    margin: 0 auto;
    height: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.footer-main{
    display: flex;
    align-items: flex-start;
    gap: 160px;
    height: 245px;
    width: 1249px;
}
.about-website{
    width: 284px;
    height: 138px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bottom-logo{
    width: 195px;
    height: 45px;
}
.bottom-logo h2{
    color: #001858;
    font-size: 36px;
    font-weight: 600;
}
.bottom-logo span{
    color: #6246EA;
    font-size: 18px;
}
.about-website p{
    width: 284px;
    font-size: 18px;
    font-weight: 400;
}
.footer-socials{
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px
}
.footer-socials a:nth-child(1){
    width: 30px;
    height: 30px;
}
.footer-socials a:nth-child(2){
    width: 22px;
    height: 18px;
}
.footer-socials a{
    width: 24px;
    height: 24px;
}
.footer-columns{
    display: flex;
    align-items: flex-start;
    gap: 95px;
    width: 805px;
    height: 245px;
}
.footer-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.footer-column h4{
    font-size: 20px;
    text-transform: uppercase;
}
.footer-column-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-column-items a{
    font-size: 18px;
    font-weight: 400;
}
.bottom-line {
    padding-top: 50px;
    border-bottom: 1px solid #C0C0C0;
    width: 1249px;
}
.footer__w-1250>p{
    padding: 26px 0;
    font-size: 14px;
    font-weight: 400;
}