@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background: #EFF0F3;
}
.w-1250{
    width: 1250px;
    margin: 0 auto;
}
header{
    height: 86px;
    width: 100%;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__w-1250{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__w-1250 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.logo{
    width: 194px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0 15px 0;
}
.logo h2{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}
.logo span{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
nav a{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 30px 0;
}
.button-buy-coffee{
    height: 24px;
    width: 179px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------intro section---------*/
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 177px;
}